<div class="">
  <h1 style="text-align: center; color: aquamarine;">Player's
    <span style="color: greenyellow;">{{toeService.turn %2 +1}}</span> Turn
  </h1>
</div>

<div class="" style="display: flex;flex-direction: row; justify-content: center;" *ngIf="!toeService.gameCompleted">
  <div class="" *ngFor="let row of toeService.play;index as rIndex">
    <div class="" *ngFor="let col of row;index as colIndex">
      <app-tictaktoe [value]="col" [col]="colIndex" [row]="rIndex" (itemClick)="onClickHandler($event)"></app-tictaktoe>
    </div>
  </div>
</div>
<div class="" *ngIf="toeService.gameCompleted" style="display: flex;justify-content: center; flex-direction: column;">
  <h1 style="color: green;">Game Finished</h1>
  <h4>player {{toeService.winPlayer}} won</h4>
  <button (click)="toeService.restGame()"
    style="background-color: rgb(19, 86, 134); border-radius: 10px;padding: 10px;">Play
    Again</button>

</div>